:root {
    --azul: #5E2BFF;
    --branco: #EAF0F2;
    --preto-fundo: #13141F;
    --preto-frente: #191b2d;
}

*{
    margin: 0;
    padding: 0;
    font-family: ubuntu;

}

body{
    background-color: var(--preto-fundo);
}
nav{
    display:flex;
    align-items: center;
    justify-content: space-around;

    padding: 15px;
    background-color: var(--preto-frente);

}
nav .logo{

    font-size: 23px;
    color: var(--branco);
}
nav ul li{
    display: inline-block;
}
nav ul li a{
    color: var(--branco);
    padding: 10px 10px;
    text-decoration: none;
    font-size: 19px;
    transition: 0.5s;
}
nav ul li a:hover{
    color: var(--azul);
}

span{
    color: var(--azul);
}
main{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;


}
.subtitle .content{
    height: 300px;
    padding: 50px;
    display: flex;
    flex-direction: column;
    align-items: center;

    font-size: 30px;
    font-weight: bolder;
    color: var(--branco);
}
.subtitle .content .subtitle-name{
    font-size: 50px;
    color: var(--branco);
}
.subtitle .content h6{
    color: grey;
    font-family: 'Times New Roman', Times, serif;
    width: 400px;
    text-align:center;
    font-weight: lighter;
}
.about{
    display: flex;
    flex-direction: column ;
    justify-content: center;
    align-items: center;
}
.about .about-content {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;

 ;
    width: 60%px;
    height: 50%px;

    border-radius: 20px;
    background-color: var(--preto-frente);
    display: flex;
    flex-direction: column;
}
.about .title-div{
    
    color: var(--azul);
    width: 115px;
    height: 41px;
    font-weight: bold;
    background:var(--branco);
    border-radius: 18px;
}

.about .title-div .section-title{

    text-align: center;
    padding-top: 10px;
    position: absolute;
    width: 115px;
    height: 29px;
    font-style: normal;

}

.about .about-content .about-info{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.about .about-content img{
    padding: 15px;
    margin: 15px;
    width: 300px;
    height: 300px;

}
.about .about-content .about-info p{
    padding: 15px;
    margin: 15px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 363px;
    height: 210px;

    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 19px;
    text-align: justify;

    color: #FFFFFF;
    padding-bottom: 20px;
}
button{
    width: 140px;
    height: 40px;
    color: var(--branco);
    background-color: var(--azul);
    border: none;
    border-radius: 10px;
    font-weight: bold;
    cursor: pointer;
    font-size: 15px;
}
button:hover{
    background-color: var(--branco);
    color: var(--azul);
}

.about .more-about{
    width: 783px;
    margin-top: 10px;
    display: flex;
    flex-direction: row;
    align-items: baseline;
}

.about .more-about div{
    display: flex;
  
    flex-direction: column;
    align-items: center;
    justify-content:  center;

    padding-bottom: 0%;
    padding:0;
    color: var(--branco);
    text-align: center;
 
    border-radius: 10px;

    width: 200px;
    height: 160px;
}
.about .more-about div span{
    font-weight: bold;
    
    font-size: 30px;
}
.about .more-about div p{
    font-size: 18px;
    font-family: 'Montserrat', sans-serif;

}

.projects-content{
    margin-top: 100px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.title-div{

    color: var(--azul);
    width: 115px;
    height: 41px;
    font-weight: bold;
    background:var(--branco);
    border-radius: 18px;
}
.title-div h3{
    text-align: center;
    padding-top: 10px;
    position: absolute;
    width: 115px;
    height: 29px;

    font-style: normal; 
}

.projects-content .projects{
    width: 1100px; 
    height: 100%;

    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;


    padding: 15px;
    padding-top: 30px;


    border-radius: 20px;
    background-color: var(--preto-frente);
}
.projects-content .projects div{
    border-radius: 10px;
    margin: 10px;
    padding: 20px;
    width: 300px;
    height: 380px;
    border: var(--branco) 1px solid;
    background-color: var(--branco);
}
.projects-content .projects div h3{
    color: var(--azul);
}
.projects-content .projects div p{
    color: var(--preto-fundo);
}
.projects-content .projects div img{
    border-radius: 10px;
    margin-top: 20px;
    width: 300px;
    height: 300px;
}
.contact{

    
    margin-top: 50px;
    color: var(--branco);
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}
.contact h2{
    margin: 40px;;
}
.contact .contact-section{
    color: var(--branco);
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    
}
.contact .content{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    row-gap: 10px;
}
.contact .content i{
    margin: 20px;

}
.contact .content a{
    font-family: ubuntu;
    text-decoration: none;
    color: var(--branco);
}
